@import './mixin.scss';
@import './variables.scss';

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, #root {
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  font-family: $default-font;
}

.content {
  max-width: $content-max-width;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding: 0 1rem;
}